* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  background-color: #333;
}

.divider-div {
  border-top: 3px solid #6B6B6B;
}

.buttons-div {
  display: flex;
  justify-content: center;
  height: 10vh;
  padding: 10px;
}

.btn {
  font-size: 2em;
  cursor: pointer;
}

button {
  /* color: #EBAB47; */
  color: #AF7C00 ;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  border: none;
  font-size: 18px;
  background-color: #333;
}

button:hover {
  /* color: #fcc771; */
    color: #AF7C00 ;

}

  
