.banner-section {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 1em;
  height: 50vh;
  width: 100vw;
}

.player-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  /* padding-top: 56.25%;  */
  /* Player ratio: 100 / (1280 / 720) */
  /* margin-left: 20%; */
}